
.header table{
    width:100%;
    border-bottom:3px solid black;
}
.header img
{
    width:90%;

}
.header h3{
    border:0px solid black;
    font-family: "Gill Sans", sans-serif;
    color:#0081C9;
    font-size:40px;
    margin-top:0%;
    margin-bottom:0%;
    
}
.header a{
    font-size:20px;
    text-decoration-line: none;
    font-family:Berlin Sans FB;
    font-weight:100;
    border-collapse: collapse;
    color:#0081C9;

}
 .header a:hover{
 color:orange;
 transition-duration: 0.4s;
}
.header button{
    border-radius:10px ;
    background-color:white;
    border-color:#0081C9;
    color:#0081C9;
    font-size:15px;
    font-weight:500;
    padding:10px 24px;


}
.header button:hover{
    color:white;
    font-weight:700;
    transition-duration: 0.4s;
    background-color:orange;
}
